streamlit==1.21.0
pandas==1.5.3
numpy==1.23.5
altair==4.2.2
attrs==25.3.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cryptography==44.0.3
entrypoints==0.4
future==1.0.0
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gitdb==4.0.12
gitpython==3.1.44
google-gax==0.12.5
googleapis-common-protos==1.70.0
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.71.0
httplib2==0.22.0
idna==3.10
importlib-metadata==8.7.0
jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jwcrypto==1.5.6
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pycryptodome==3.22.0
pydeck==0.9.1
pygments==2.19.1
pympler==1.1
pyparsing==3.2.3
pyrebase4==4.5.0
python-dateutil==2.9.0.post0
python-jwt==4.1.0
pytz==2025.2
referencing==0.36.2
requests==2.28.2
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.24.0
rsa==4.9.1
six==1.17.0
smmap==5.0.2
toml==0.10.2
toolz==1.0.0
tornado==6.4.2
typing-extensions==4.13.2
tzlocal==5.3.1
urllib3==1.26.20
validators==0.35.0
watchdog==6.0.0
zipp==3.21.0
